/*index.html*/

html, body {
    height: 100%
}

#root {
    min-height: 100%;
    position: relative;
}

/*responsive*/

@media (min-width: 320px) and (max-width: 500px) {
    .contact p {
        font-size: 12px;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .contact p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .contact p {
        font-size: 11px;
    }
}

/*Header.js*/

/*.header {*/
/*background: #232020;*/
/*}*/

/*.header-title {*/
/*color: #00d8ff;*/
/*padding-top: 3%;*/
/*padding-bottom: 3%;*/
/*padding-left: 30px !important;*/
/*font-size: 35px;*/
/*}*/

/*Home.js*/

/*.center-image {*/
/*margin: 0 auto;*/
/*width: 100%;*/
/*padding-top: 5%;*/
/*}*/

/*.img-home {*/
/*display: block;*/
/*margin: 0 auto;*/
/*height: 40vh;*/
/*width: 40vh;*/
/*}*/

/*.ul-title {*/
/*font-weight: bold;*/
/*list-style: none;*/
/*}*/

/*ContactList.js*/

/*.contact-container {*/
/*width: 80%;*/
/*margin: 0 auto;*/
/*}*/

/*.contact {*/
/*margin-left: 4%;*/
/*margin-right: 4%;*/
/*margin-top: 3%;*/
/*box-shadow: 1px 5px 3px 0px silver,*/
/*-1px 0px 5px 0px silver;*/
/*padding-left: 0px;*/
/*padding-right: 0px;*/
/*}*/

/*.contact button {*/
/*padding-top: 1px;*/
/*padding-bottom: 1px;*/
/*margin-right: 2px;*/
/*margin-bottom: 2%;*/
/*}*/

/*ContactOverview.js*/

/*.contact-header {*/
/*padding-top: 10px;*/
/*padding-bottom: 10px;*/
/*background: #232020;*/
/*color: #00d8ff;*/
/*text-align: center;*/
/*font-size: 16px;*/
/*}*/

/*.contact p {*/
/*margin-left: 5px;*/
/*}*/

/*ContactForm.js*/

/*.form-header {*/
/*text-align: center;*/
/*padding-top: 2%;*/
/*padding-bottom: 2%;*/
/*background: #232020;*/
/*color: #00d8ff;*/
/*font-size: 20px;*/
/*}*/

/*#contactForm {*/
/*box-shadow: 1px 5px 3px 0px silver,*/
/*-1px 0px 5px 0px silver;*/
/*}*/

/*.form-group {*/
/*width: 90%;*/
/*margin: 0 auto;*/
/*}*/

/*.submit-btn {*/
/*margin-top: 15px;*/
/*margin-bottom: 15px;*/
/*}*/

/*.form-group label {*/
/*margin-top: 15px;*/
/*}*/

/*.error {*/
/*border: 1px solid #a94442 !important;*/
/*}*/

/*.success {*/
/*border: 1px solid #3c763d !important;*/
/*}*/

/*.error-message {*/
/*font-size: 10px;*/
/*color: #a94442;*/
/*}*/

/*input[type="text"]:focus {*/
/*border-color: #d8d4d4;*/
/*box-shadow: 0 1px 1px #d8d4d4 inset, 0 0 8px #d8d4d4;*/
/*}*/

/*Footer.js*/

/*.footer-container {*/
/*padding-top: 2%;*/
/*padding-bottom: 2%;*/
/*}*/

/*.footer-container p {*/
/*font-size: 20px;*/
/*}*/

/*hr {*/
/*color: #919090;*/
/*background-color: #232020;*/
/*height: 1px;*/
/*width: 90%;*/
/*}*/

/*#footer {*/
/*width: 100%;*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: 0;*/
/*top: 100%;*/
/*}*/




